.title {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.txt-size {
  font-size: 12px;
}

.p-center {
  color: #000;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.txt-preto {
  color: #000;
}
.txt-branco {
  color: #fff !important;
}

.boxcolor {
  background-color: #000000;
  height: 20rem;
}

.boxcolor2 {
  background-color: #e4f6f9;
}

.boxcolor3 {
  background-color: #fff;
  height: 20rem;
}

@media (max-width: 960px) {
}

@media (max-width: 720px) {
  .title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 6%;
    font-weight: 700;
    position: relative;
  }

  .p-center {
    text-align: center;
    position: relative;
  }
}
