.container {
  max-width: 1440px;
  background-color: #fff;
  /*background-image: url(img/bkgd.jpg);*/
  background-repeat: repeat-y;
}

.topo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: #3b3b3b;
}

body {
  font-family: "Camphor Pro", sans-serif;
}
.ml {
  padding-left: 10% !important;
}

.boxcolor1 {
  background: #fff url(../img/01.jpg) center center/cover no-repeat local;
  height: 50rem;
}

.title {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Camphor Pro", sans-serif;
}

.sub-title {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: "Camphor Pro", sans-serif;
}

.aviso {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.p-left {
  color: #333;
  text-align: left !important;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
}

.txt-size {
  font-size: 12px;
}

.p-center {
  color: #000;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
}

.txt-preto {
  color: #000;
}
.txt-branco {
  color: #fff !important;
}

.boxcolor {
  background-color: #000000;
}

.boxcolor2 {
  background-color: #ffffff;
}

.boxcolor3 {
  background-color: #fff;
}
@media (max-width: 960px) {
}
@media (max-width: 720px) {
  .title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 6%;
    margin-left: 40px;
    font-weight: 700;
  }

  .p-center {
    text-align: center;
  }
}
